{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block header %}
    <nav class="navbar navbar-expand-lg navbar-custom">
        <a class="navbar-brand" href="/">
            <img src="/static/images/atlaslogo.png" width="30" height="30" alt="" loading="lazy">
            Atlas Young Enterprise
        </a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Homepage <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/post">Post</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block body %}
    <div class="center">
        <img src="/static/images/youngEnterprise.png" alt="young enterprise logo">
    </div>
    <div class="padFiveSides">
        <p class="center">
            <h1><u class="center">A brief overview of our group</u></h1>
            <br>
            We are a group that is part of the young enterprise scheme in 2021/2022. We are located in the United Kingdom and attend Nottingham High School. We aim to make money through products and services.
            The point of this website is so that we can achieve greater community engagement and feedback on our ideas as well as being a platform where we can supply information about our products and services.
        </p>
        <p class="center">
            <h1><u class="center">A closer look at the members in our group</u></h1>
        </p>
        <div class="people">
            <div class="media">
                <img src="/static/images/default.jpg" alt="picture of the person specified on the left" width="50" height="50" style="margin: 5px 5px 5px 5px;">
                <div class="media-body">
                    <h5 class="mt-0">Thomas Saturnino - Managing director</h5>
                    <p>
                        This information about the person above and it is very cool and epic. The person on the left is who I am talking about.
                    </p>
                </div>
            </div>
            <br>
            <div class="media">
                <img src="/static/images/default.jpg" alt="picture of the person specified on the left" width="50" height="50" style="margin: 5px 5px 5px 5px;">
                <div class="media-body">
                    <h5 class="mt-0">Yang Yue - General secretary</h5>
                    <p>
                        This information about the person above and it is very cool and epic. The person on the left is who I am talking about.
                    </p>
                </div>
            </div>
            <br>
            <div class="media">
                <img src="/static/images/default.jpg" alt="picture of the person specified on the left" width="50" height="50" style="margin: 5px 5px 5px 5px;">
                <div class="media-body">
                    <h5 class="mt-0">Josh Green - Finance director</h5>
                    <p>
                        This information about the person above and it is very cool and epic. The person on the left is who I am talking about.
                    </p>
                </div>
            </div>
            <br>
            <div class="media">
                <img src="/static/images/default.jpg" alt="picture of the person specified on the left" width="50" height="50" style="margin: 5px 5px 5px 5px;">
                <div class="media-body">
                    <h5 class="mt-0">Sophie Gee - Marketing director</h5>
                    <p>
                        This information about the person above and it is very cool and epic. The person on the left is who I am talking about.
                    </p>
                </div>
            </div>
            <br>
            <div class="media">
                <img src="/static/images/default.jpg" alt="picture of the person specified on the left" width="50" height="50" style="margin: 5px 5px 5px 5px;">
                <div class="media-body">
                    <h5 class="mt-0">Susie Wang - Marketing</h5>
                    <p>
                        This information about the person above and it is very cool and epic. The person on the left is who I am talking about.
                    </p>
                </div>
            </div>
            <br>
            <div class="media">
                <img src="/static/images/default.jpg" alt="picture of the person specified on the left" width="50" height="50" style="margin: 5px 5px 5px 5px;">
                <div class="media-body">
                    <h5 class="mt-0">Alqavi Hasan - Marketing</h5>
                    <p>
                        This information about the person above and it is very cool and epic. The person on the left is who I am talking about.
                    </p>
                </div>
            </div>
            <br>
            <div class="media">
                <img src="/static/images/default.jpg" alt="picture of the person specified on the left" width="50" height="50" style="margin: 5px 5px 5px 5px;">
                <div class="media-body">
                    <h5 class="mt-0">Dan Brailsford - Marketing</h5>
                    <p>
                        This information about the person above and it is very cool and epic. The person on the left is who I am talking about.
                    </p>
                </div>
            </div>
            <br>
            <div class="media">
                <img src="/static/images/default.jpg" alt="picture of the person specified on the left" width="50" height="50" style="margin: 5px 5px 5px 5px;">
                <div class="media-body">
                    <h5 class="mt-0">Ben Ye - Human resources</h5>
                    <p>
                        This information about the person above and it is very cool and epic. The person on the left is who I am talking about.
                    </p>
                </div>
            </div>
            <br>
            <div class="media">
                <img src="/static/images/default.jpg" alt="picture of the person specified on the left" width="50" height="50" style="margin: 5px 5px 5px 5px;">
                <div class="media-body">
                    <h5 class="mt-0">Ryder Gregory - Human resources</h5>
                    <p>
                        This information about the person above and it is very cool and epic. The person on the left is who I am talking about.
                    </p>
                </div>
            </div>
            <br>
            <div class="media">
                <img src="/static/images/default.jpg" alt="picture of the person specified on the left" width="50" height="50" style="margin: 5px 5px 5px 5px;">
                <div class="media-body">
                    <h5 class="mt-0">Isabelle French - Operations director</h5>
                    <p>
                        This information about the person above and it is very cool and epic. The person on the left is who I am talking about.
                    </p>
                </div>
            </div>
            <br>
            <div class="media">
                <img src="/static/images/default.jpg" alt="picture of the person specified on the left" width="50" height="50" style="margin: 5px 5px 5px 5px;">
                <div class="media-body">
                    <h5 class="mt-0">Seb Lees - Operations director</h5>
                    <p>
                        This information about the person above and it is very cool and epic. The person on the left is who I am talking about.
                    </p>
                </div>
            </div>
            <br>
            <div class="media">
                <img src="/static/images/default.jpg" alt="picture of the person specified on the left" width="50" height="50" style="margin: 5px 5px 5px 5px;">
                <div class="media-body">
                    <h5 class="mt-0">Oliver Edwards - Sales director</h5>
                    <p>
                        This information about the person above and it is very cool and epic. The person on the left is who I am talking about.
                    </p>
                </div>
            </div>
            <br>
            <div class="media">
                <img src="/static/images/default.jpg" alt="picture of the person specified on the left" width="50" height="50" style="margin: 5px 5px 5px 5px;">
                <div class="media-body">
                    <h5 class="mt-0">Freddie Mao - Information technology director</h5>
                    <p>
                        This information about the person above and it is very cool and epic. The person on the left is who I am talking about.
                    </p>
                </div>
            </div>
        </div>
        <hr style="background-color: black;">
        <div>
            <h1><u class="center">A little insight to the building of this website</u></h1>
            <br>
            <p class="center">
                This project was completely developed by Freddie Mao, the information technology director. This project was my final project for the CS50X course and
                I owe my skills that allowed me to accomplish this to David Malan, Brian Yu and Doug Lloyd of Harvard's CS50. This course moved me into the domain of
                web programming and was challenging and rewarding. For any of you viewers that are interested in pursuing computer science I would recommend the course.
            </p>
        </div>
        <div class="center">
            <img src="/static/images/thisWasCS50.png" alt="this was CS50!" width="90%" height="auto">
        </div>
    </div>
{% endblock %}