{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block header %}
    <nav class="navbar navbar-expand-lg navbar-custom">
        <a class="navbar-brand" href="/">
            <img src="/static/images/atlaslogo.png" width="30" height="30" alt="" loading="lazy">
            Atlas Young Enterprise
        </a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Homepage <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/post">Post</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block body %}
    <div class="center top-image">
        <img src="/static/images/groupPhoto.jpg" alt="A photo of our group" width="50%" height="auto" class="splash-image">
    </div>
    <div class="padFive">
        {% for post in posts %}
            <a href="/viewPost?post_id={{ post[0] }}" style="text-decoration: none;">
                <div class="text-center card row col-sm-6 w-75" style="width: 50%; border: 1px solid black; margin: 10px 25% 10px 25%; display: block;">
                    <div class="card-body">
                        <h2 class="card-title" >{{ post[2] }}</h2>
                        <p>
                            <h5 style="color: grey;">by {{ post[1]|getUsername }}, posted on {{ post[4] }}</h5>
                        </p>
                        <p class="card-text" style="color: grey;">
                            {% if post[3]|length > 150 %}
                                {{ post[3][0:150] }}...
                                <div class="readMore">Click to read more</div>
                            {% else %}
                                {{ post[3] }}
                            {% endif %}
                        </p>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}