{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block header %}
    <nav class="navbar navbar-expand-lg navbar-custom">
        <a class="navbar-brand" href="/">
            <img src="/static/images/atlaslogo.png" width="30" height="30" alt="" loading="lazy">
            Atlas Young Enterprise
        </a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Homepage <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/post">Post</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block body %}
    <div class="login-form">
        <h1 class="center">Register to be able to post and comment on posts</h1>
        <hr>
        <form action="/register" method="post">
            <div class="form-group row">
                <label for="username" class="col-sm-2 col-form-label">Username</label>
                <div class="col-sm-10">
                    <input autocomplete="off" autofocus type="text" class="form-control" id="username" name="username" placeholder="Enter your username...">
                    <small id="usernameInfo" class="form-text text-muted">We only allow you to choose unique usernames with 4 or more characters.</small>
                </div>
            </div>
            <div class="form-group row">
                <label for="password" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password...">
                </div>
            </div>
            <div class="form-group row">
                <label for="password" class="col-sm-2 col-form-label">Repeat password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="passwordRepeat" name="passwordRepeat" placeholder="Enter your password again...">
                </div>
            </div>
            <div class="form-group row center">
                <div class="col-sm-10">
                    <img src="/static/images/cross.png" width="30" height="30" alt="" loading="lazy" id="passwordLetter">
                    Password contains a letter
                </div>
            </div>
            <div class="form-group row center">
                <div class="col-sm-10">
                    <img src="/static/images/cross.png" width="30" height="30" alt="" loading="lazy" id="passwordNumber">
                    Password contains a number
                </div>
            </div>
            <div class="form-group row center">
                <div class="col-sm-10">
                    <img src="/static/images/cross.png" width="30" height="30" alt="" loading="lazy" id="passwordLength">
                    Password is at least 5 characters long
                </div>
            </div>
            <div class="form-group row center">
                <div class="col-sm-10">
                    <img src="/static/images/cross.png" width="30" height="30" alt="" loading="lazy" id="passwordsMatch">
                    Passwords match
                </div>
            </div>
            <div class="form-check center">
                <input class="form-check-input" type="checkbox" value="" id="termsAndConditions">
                <label class="form-check-label" for="termsAndConditions">
                    Do you agree to our <a href="/static/termsAndConditions.txt">terms and conditions</a>?
                </label>
            </div>
            <button type="submit" class="btn btn-primary" id="log-in-button" data-toggle="tooltip" data-placement="bottom" title="Enter a valid username and password to create an account" disabled>Create account</button>
        </form>
    </div>
    <script crossorigin="anonymous" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="/static/passwordValidation.js"></script>
{% endblock %}